body {
    background: #222831;
}
h1 {
    text-align: center;
    color: #f2f2f2;
}

.links, a {
    color: #f96d00;
    text-align: center;
    margin: 25px;
}

p {
    color:#f2f2f2;
    text-align: center;

}
