body {
    background: #222831;
}
h1 {
    text-align: center;
    color: #f2f2f2;
}

p {
    color:#f2f2f2;
    font-size: 18px;
    display: flex;
    justify-content: center;
    width: 50%;
}
.more-photos {
    color:#f2f2f2;
    font-size: 18px;
    display: flex;
    justify-content: center;
}

.links, a {
    color: #f96d00;
    text-align: center;
    margin: 25px;
}
.youtube-video {
    display: flex;
    justify-content: center;
}
.about-paragraphs {
    display: flex;
    justify-content: center;
}
.ramen-photo , img {
text-align: center;
border-radius: 20px;
}